# dependencies
node_modules/

# Next.js
.next/
out/

# env (keep .env*.example tracked)
.env
.env.local
.env.*.local

# debug / OS
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# IDE
.idea/
.vscode/
